/* importar fuente desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* reset de todos los valores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* aplica a todo el documento */
html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

body {
    height: auto;
    /* VEEEEEEEEEEEEERRRRRRR porque scrolea para el costado???*/
    width: 100vw;
    overflow-x: hidden;
}


/*********** INDEX ***********/
.index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "encabezado encabezado encabezado"
        "ppal__index ppal__index ppal__index"
        "piepagina piepagina piepagina";
    height: 100vh;
}

/* HEADER --> encabezado */
.encabezado {
    /*border: 1px solid rgb(133, 48, 48);*/
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 184, 238);
    width: 100%;
    grid-area: encabezado;
    border: solid red 1px;
}

.encabezado__sup {
    display: flex;
    flex-direction: row;
    /*border: 1px solid rgb(17, 26, 1);*/
    width: 99%;
    padding: 0.5%;
}

.encabezado__sup__logo {
    width: 152.888889px;
}

.encabezado__sup__clima {
    /*border: 5px solid rgb(178, 185, 165);*/
    background-color: rgb(206, 177, 96);
    font-size: 5em;
    width: 70%;
    height: auto;
}

.encabezado__sup__fecha {
    /*border: 5px solid rgb(178, 185, 165);*/
    background-color: rgb(96, 206, 142);
    font-size: 5em;
    width: 30%;
    height: auto;
}

.encabezado__nav {
    background-color: rgb(177, 200, 226);
    /*border: 1px solid rgb(133, 206, 7);*/
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    width: 99%;
    padding: 0.5%;
}

/* ---ANIMACION--- */
.encabezado__nav a:hover {
    background-color: rgba(0, 0, 0, 0.096);
    border: solid rgb(114, 135, 158) 1px;
    border-radius: 7%;
}

/* MAIN --> ppal */
.ppal__index {
    /*border: 1px solid rgb(255, 255, 255);*/
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 112, 165);
    width: 100%;
    grid-area: ppal__index;
}

.ppal__resumen {
    display: flex;
    flex-direction: column;
    /*border: 1px solid rgb(201, 27, 27);*/
    background-color: rgb(28, 74, 126);
    width: 99%;
    padding: 0.5%;
}

.ppal__resumen__h2 {
    /*border: 1px solid rgb(116, 10, 98);*/
    background-color: rgba(88, 114, 26, 0.226);
    text-align: left;
    font-size: 2em;
}

.ppal__resumen__noticias {
    /*border: 1px solid rgb(255, 255, 255);*/
    display: flex;
    flex-direction: row;
}

.ppal__resumen__noticias__n1,
.ppal__resumen__noticias__n2,
.ppal__resumen__noticias__n3 {
    display: flex;
    flex-direction: column;
    /* ALINEAR ITEMS AL CENTRO */
    width: 33.33333%;
    font-weight: bolder;
    padding: 0.166%;
    /*border: 1px solid rgb(201, 189, 27);*/
}

.ppal__resumen__noticias__n1 h3,
.ppal__resumen__noticias__n2 h3,
.ppal__resumen__noticias__n3 h3 {
    /*border: 1px solid rgb(255, 255, 255);*/
    background-color: rgba(187, 170, 248, 0.226);
    text-align: left;
    text-decoration: underline;
    font-size: 1.8em;
    padding-left: 2%;
}

.ppal__resumen__noticias__n1__contenido,
.ppal__resumen__noticias__n2__contenido,
.ppal__resumen__noticias__n3__contenido {
    /*border: 1px solid rgb(41, 201, 27);*/
    display: flex;
    flex-direction: row;
}

.ppal__resumen__noticias__n1__contenido a img,
.ppal__resumen__noticias__n2__contenido a img,
.ppal__resumen__noticias__n3__contenido a img {
    /*border: 1px solid rgb(201, 27, 192);*/
    width: 100%;
    display: block;
    padding: 2%;
}

/* ---ANIMACION--- */
.ppal__resumen__noticias__n1__contenido a img:hover,
.ppal__resumen__noticias__n2__contenido a img:hover,
.ppal__resumen__noticias__n3__contenido a img:hover {
    opacity: 60%;
}

.ppal__resumen__noticias__n1__contenido p,
.ppal__resumen__noticias__n2__contenido p,
.ppal__resumen__noticias__n3__contenido p {
    /*border: 1px solid rgb(201, 27, 27);*/
    font-size: 1.25em;
    text-align: justify;
    padding: 2%;
}

/*---------------------------------------------*/
/*------ media query RESUMEN DE NOTICIAS ------*/
@media screen and (max-width: 950px) {

    .ppal__resumen__noticias__n1__contenido,
    .ppal__resumen__noticias__n2__contenido,
    .ppal__resumen__noticias__n3__contenido {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .ppal__resumen__noticias {
        flex-direction: column;
        align-items: center;
    }

    .ppal__resumen__noticias__n1,
    .ppal__resumen__noticias__n2,
    .ppal__resumen__noticias__n3 {
        width: 80%;
    }
}

/*---------------------------------------------*/
/*---------------------------------------------*/

.ppal__destacados {
    display: flex;
    flex-direction: row;
    /* ALINEAR ITEMS AL CENTRO */
    width: 99%;
    padding: 0.5%;
    /*border: 1px solid rgb(195, 27, 201);*/
}

.ppal__destacados__deportes,
.ppal__destacados__laciudad {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.75%;
    /*border: 1px solid rgb(198, 201, 27);*/
}

.ppal__destacados__deportes h2,
.ppal__destacados__laciudad h2 {
    /*border: 1px solid rgb(201, 27, 192);*/
    background-color: rgba(88, 114, 26, 0.226);
    text-align: center;
    font-size: 2em;
}

.ppal__destacados__deportes__n1,
.ppal__destacados__deportes__n2,
.ppal__destacados__laciudad__n1,
.ppal__destacados__laciudad__n2 {
    display: flex;
    flex-direction: column;
    /* ALINEAR ITEMS AL CENTRO */
    font-weight: bolder;
    padding: 0.166%;
    /*border: 1px solid rgb(201, 189, 27);*/
}

.ppal__destacados__deportes__n1 h3,
.ppal__destacados__deportes__n2 h3,
.ppal__destacados__laciudad__n1 h3,
.ppal__destacados__laciudad__n2 h3 {
    background-color: rgba(187, 170, 248, 0.226);
    text-align: justify;
    text-decoration: underline;
    font-size: 1.8em;
    padding-left: 2%;
}

.ppal__destacados__deportes__n1__contenido,
.ppal__destacados__deportes__n2__contenido,
.ppal__destacados__laciudad__n1__contenido,
.ppal__destacados__laciudad__n2__contenido {
    /*border: 1px solid rgb(33, 201, 27);*/
    display: flex;
    flex-direction: row;
}

.ppal__destacados__deportes__n1__contenido img,
.ppal__destacados__deportes__n2__contenido img,
.ppal__destacados__laciudad__n1__contenido img,
.ppal__destacados__laciudad__n2__contenido img {
    /*border: 1px solid rgb(201, 27, 192);*/
    width: 50%;
    display: block;
    padding: 1%;
}

.ppal__destacados__deportes__n1__contenido p,
.ppal__destacados__deportes__n2__contenido p,
.ppal__destacados__laciudad__n1__contenido p,
.ppal__destacados__laciudad__n2__contenido p {
    /*border: 1px solid rgb(0, 0, 0);*/
    font-size: 1.25em;
    text-align: justify;
    padding: 1%;
}

/*---------------------------------------------*/
/*---------- media query DESTACADOS -----------*/
@media screen and (max-width: 950px) {
    .ppal__destacados {
        flex-direction: column;
    }

    .ppal__destacados__deportes,
    .ppal__destacados__laciudad {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    .ppal__destacados__deportes,
    .ppal__destacados__laciudad {
        width: 80%;
    }

    .ppal__destacados__deportes__n1__contenido,
    .ppal__destacados__deportes__n2__contenido,
    .ppal__destacados__laciudad__n1__contenido,
    .ppal__destacados__laciudad__n2__contenido {
        flex-direction: column-reverse;
        align-items: center;
    }

    .ppal__destacados__deportes__n1__contenido img,
    .ppal__destacados__deportes__n2__contenido img,
    .ppal__destacados__laciudad__n1__contenido img,
    .ppal__destacados__laciudad__n2__contenido img {
        width: 80%;
    }
}

/*---------------------------------------------*/
/*---------------------------------------------*/


/* ASIDE --> apartado */
.apartado {
    /*border: 1px solid rgb(78, 0, 0);*/
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 73, 105);
    width: 99%;
    padding: 0.5%;
}

.apartado__opinion {
    /*border: 1px solid rgb(119, 100, 100);*/
    display: flex;
    flex-direction: column;
    width: 99%;
    /* VERRRRRRRRRRRRRR */
}

.apartado__opinion__sup {
    /*border: 1px solid rgb(119, 100, 100);*/
    display: flex;
    flex-direction: row;
    background-color: rgba(88, 114, 26, 0.226);
}

.apartado__opinion__sup__h2 {
    /*border: 1px solid rgb(201, 27, 192);*/
    width: 90%;
    text-align: left;
    font-size: 2em;
    padding-left: 0.25%;
}

.apartado__opinion__sup a {
    text-align: end;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 0.2%;
}

.apartado__opinion__op {
    display: flex;
    flex-direction: row;
    padding: 0.2%;
}

.apartado__opinion__op_1 h3,
.apartado__opinion__op_2 h3 {
    text-align: left;
    font-size: 1.8em;
    padding: 0.25%;
}

.apartado__opinion__op_1 p,
.apartado__opinion__op_2 p {
    text-align: justify;
    font-style: oblique;
    font-size: 1.25em;
    padding: 0.25%;
    padding-left: 1%;
    padding-right: 1%;
}


/*---------------------------------------------*/
/*---------- media query DESTACADOS -----------*/
@media screen and (max-width: 700px) {
    .apartado__opinion__op {
        flex-direction: column;
    }
}

/*---------------------------------------------*/
/*---------------------------------------------*/




/* FOOTER --> piepagina */
.piepagina {
    /*border: 1px solid rgb(187, 19, 19);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(136, 184, 238);
    width: 100%;
    grid-area: piepagina;
}

.piepagina__contacto {
    /*border: 1px solid rgb(133, 206, 7);*/
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5%;
    width: 40%
}

.piepagina__redes {
    /*border: 1px solid rgb(32, 9, 63);*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 19%
}

/* ---ANIMACION--- */
.piepagina__redes a:hover {
    background-color: rgba(0, 0, 0, 0.678);
    border: solid rgb(57, 16, 124) 2px;
    border-radius: 3%;
}

.piepagina__nav {
    /*border: 1px solid rgb(133, 206, 7);*/
    text-align: right;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5%;
    width: 40%
}

/* ---ANIMACION--- */
.piepagina__nav a:hover {
    background-color: rgba(0, 0, 0, 0.096);
    border: solid rgb(114, 135, 158) 1px;
    border-radius: 7%;
}

/*---------------------------------------------*/
/*---------- media query FOOTER -----------*/
@media screen and (max-width: 400px) {
    .piepagina {
        flex-direction: column;
    }

    .piepagina__contacto {
        width: 95%;
        font-size: 1.1em;
        font-weight: 400;
    }

    .piepagina__redes {
        width: 90%
    }

    .piepagina__nav {
        width: 95%;
        font-size: 1em;
        font-weight: 400;
    }
}

/*---------------------------------------------*/
/*---------------------------------------------*/

/*********** LOCALES ***********/
.locales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "encabezado encabezado encabezado"
        "ppal__locales ppal__locales ppal__locales"
        "piepagina piepagina piepagina";
    height: 100vh;
}

.ppal__locales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ppal__locales__titulo ppal__locales__titulo ppal__locales__titulo"
        "ppal__locales__noticia__1 ppal__locales__noticia__1 ppal__locales__noticia__1"
        "ppal__locales__noticia__2 ppal__locales__noticia__2 ppal__locales__noticia__2";
    grid-area: ppal__locales;
    border: solid rgb(2, 39, 7) 1px;
}

.ppal__locales__titulo {
    grid-area: ppal__locales__titulo;
    border: solid rgb(4, 2, 39) 1px;
}

.ppal__locales__noticia__1 {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ppal__locales__noticia__1__titulo ppal__locales__noticia__1__titulo"
        "ppal__locales__noticia__1__texto ppal__locales__noticia__1__imagen";
    grid-area: ppal__locales__noticia__1;
    border: solid rgb(39, 2, 2) 1px;
}

.ppal__locales__noticia__1__titulo {
    grid-area: ppal__locales__noticia__1__titulo;
    border: solid rgb(4, 2, 39) 1px;
}

.ppal__locales__noticia__1__texto {
    grid-area: ppal__locales__noticia__1__texto;
    border: solid rgb(56, 219, 15) 1px;
}

.ppal__locales__noticia__1__imagen {
    grid-area: ppal__locales__noticia__1__imagen;
    border: solid rgb(153, 15, 118) 1px;
}

.ppal__locales__noticia__2 {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ppal__locales__noticia__2__titulo ppal__locales__noticia__2__titulo"
        "ppal__locales__noticia__2__texto ppal__locales__noticia__2__imagen";
    grid-area: ppal__locales__noticia__2;
    border: solid rgb(245, 122, 122) 1px;
}

.ppal__locales__noticia__2__titulo {
    grid-area: ppal__locales__noticia__2__titulo;
    border: solid rgb(4, 2, 39) 1px;
}

.ppal__locales__noticia__2__texto {
    grid-area: ppal__locales__noticia__2__texto;
    border: solid rgb(56, 219, 15) 1px;
}

.ppal__locales__noticia__2__imagen {
    grid-area: ppal__locales__noticia__2__imagen;
    border: solid rgb(153, 15, 118) 1px;
}

/*********** NACIONALES ***********/
.nacionales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "encabezado encabezado encabezado"
        "ppal__nacionales ppal__nacionales ppal__nacionales"
        "piepagina piepagina piepagina";
    height: 100vh;
}

.ppal__nacionales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ppal__nacionales__titulo ppal__nacionales__titulo ppal__nacionales__titulo"
        "ppal__nacionales__noticia__1 ppal__nacionales__noticia__1 ppal__nacionales__noticia__1"
        "ppal__nacionales__noticia__2 ppal__nacionales__noticia__2 ppal__nacionales__noticia__2";
    grid-area: ppal__nacionales;
    border: solid rgb(2, 39, 7) 1px;
}

.ppal__nacionales__titulo {
    grid-area: ppal__nacionales__titulo;
    border: solid rgb(4, 2, 39) 1px;
}

.ppal__nacionales__noticia__1 {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ppal__nacionales__noticia__1__titulo ppal__nacionales__noticia__1__titulo"
        "ppal__nacionales__noticia__1__imagen ppal__nacionales__noticia__1__texto";
    grid-area: ppal__nacionales__noticia__1;
    border: solid rgb(39, 2, 2) 1px;
}

.ppal__nacionales__noticia__1__titulo {
    grid-area: ppal__nacionales__noticia__1__titulo;
    border: solid rgb(4, 2, 39) 1px;
}

.ppal__nacionales__noticia__1__texto {
    grid-area: ppal__nacionales__noticia__1__texto;
    border: solid rgb(56, 219, 15) 1px;
}

.ppal__nacionales__noticia__1__imagen {
    grid-area: ppal__nacionales__noticia__1__imagen;
    border: solid rgb(153, 15, 118) 1px;
}

.ppal__nacionales__noticia__2 {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ppal__nacionales__noticia__2__titulo ppal__nacionales__noticia__2__titulo"
        "ppal__nacionales__noticia__2__imagen ppal__nacionales__noticia__2__texto";
    grid-area: ppal__nacionales__noticia__2;
    border: solid rgb(245, 122, 122) 1px;
}

.ppal__nacionales__noticia__2__titulo {
    grid-area: ppal__nacionales__noticia__2__titulo;
    border: solid rgb(4, 2, 39) 1px;
}

.ppal__nacionales__noticia__2__texto {
    grid-area: ppal__nacionales__noticia__2__texto;
    border: solid rgb(56, 219, 15) 1px;
}

.ppal__nacionales__noticia__2__imagen {
    grid-area: ppal__nacionales__noticia__2__imagen;
    border: solid rgb(153, 15, 118) 1px;
}












































/*********** CONTACTO ***********/
.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "encabezado encabezado encabezado"
        "ppal__contacto ppal__contacto ppal__contacto"
        "piepagina piepagina piepagina";
    height: 100vh;
}

.ppal__contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "contacto__titulo"
        "contacto__formulario";
    grid-area: ppal__contacto;
    height: 70vh;
    background-color: rgba(187, 170, 248, 0.226);
    border: solid salmon;
}

.contacto__titulo {
    grid-area: contacto__titulo;
    background-color: rgba(88, 114, 26, 0.226);
    text-align: left;
    font-size: 2em;
}

.contacto__formulario {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.2fr 0.4fr 3.7fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "contacto__formulario__lateral__i contacto__formulario__sup contacto__formulario__lateral__d"
        "contacto__formulario__lateral__i contacto__formulario__titulo contacto__formulario__lateral__d"
        "contacto__formulario__lateral__i contacto__formulario__datos contacto__formulario__lateral__d"
        "contacto__formulario__lateral__i contacto__formulario__inf contacto__formulario__lateral__d";
    grid-area: contacto__formulario;
}

.contacto__formulario__titulo {
    grid-area: contacto__formulario__titulo;
    /* border: solid rgb(153, 15, 118) 1px; */
    background-color: rgba(187, 170, 248, 0.226);
    text-align: left;
    text-decoration: underline;
    font-size: 1.8em;
    padding-left: 2%;
}

.contacto__formulario__datos {
    grid-area: contacto__formulario__datos;
    background-color: rgba(187, 170, 248, 0.226);
    /* border: solid rgb(45, 15, 153) 1px; */
    height: auto;
}

.contacto__formulario__lateral__d {
    grid-area: contacto__formulario__lateral__d;
    /* border: solid rgb(20, 153, 15) 1px; */
}

.contacto__formulario__lateral__i {
    grid-area: contacto__formulario__lateral__i;
    /* border: solid rgb(153, 15, 15) 1px; */
}

.contacto__formulario__sup {
    grid-area: contacto__formulario__sup;
    /* border: solid rgb(153, 144, 15) 1px; */
}

.contacto__formulario__inf {
    grid-area: contacto__formulario__inf;
    /* border: solid rgb(15, 153, 153) 1px; */
}